<% provide(:title, "Add a Memento") %>
	<div class = "center" id = "signin">
		
		<%= form_for(@memento) do |f| %>
			<% if flash[:notice] %>
				<div class="alert alert-error">
	      			<%= flash[:notice] %>
	    		</div>
	    	<% end %>
		
			<div class = "field">
	      		<%= f.text_field :body, :placeholder => "Insert Memento Here"  %>
	      		<br>
	      		<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	      		<br>
	    	</div>

	    <% end %>

	</div>
